.Total {
  width: 100%;
  height: 100%;
  background-image: url("/public/picture/360_F_944992557.jpg");
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}
.task {
  width: 800px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px darkgray;
  background-color: rgba(43, 43, 43, 0.8);
  color: aqua;
  margin-top: 100px;
  margin-left: 282px;
}
.form {
  width: inherit;
  height: inherit;
  font-size: x-large;
  font-style: oblique;
  padding-left: 250px;
  input {
    width: 300px;
    height: 40px;
    border-radius: 7px;
    outline: none;
    background-color: whitesmoke;
    filter: blur(0.5px);
  }
  .completed {
    width: 30px;
    height: 30px;
  }

  button {
    width: 100px;
    height: 25px;
    background: #2b2b2b;
    color: aqua;
    border-radius: 5px;
  }
}
.handlebar {
  width: 800px;
  height: auto;
  border-radius: 10px;
  box-shadow: 1px 1px 5px darkgray;
  background-color: rgba(43, 43, 43, 0.8);
  margin-left: 282px;
}
.task-container {
  color: whitesmoke;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
